@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.vl {
  border-left: 1px solid grey;
  height: 800px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 65px;
}